name: Gentoo Systemd with Overlay CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  gentoo-ci:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
#      - name: Set up Buildx
#        uses: docker/setup-buildx-action@v3
      
      - name: Build Gentoo image
        run: |
          docker build --no-cache -t gentoo-systemd -f docker/gentoo/systemd.Dockerfile .
      
      - name: Run container and install package
        run: |
          docker run --privileged -d --name gentoo-test --cgroupns=host -v /sys/fs/cgroup:/sys/fs/cgroup:rw gentoo-systemd /sbin/init
          echo "Waiting for systemd to initialize..."
          sleep 15
          echo "Container status:"
          docker ps | grep gentoo-test
          docker exec gentoo-test bash -lc "emerge -v app-eselect/eselect-repository && 
            eselect repository add userver-framework git https://github.com/userver-framework/userver-overlay.git && 
            emaint -a sync >/dev/null 2>&1 || true && 
            echo 'ACCEPT_LICENSE="*"' >> /etc/portage/make.conf && 
            mkdir -p /etc/portage/package.license && 
            echo 'dev-db/mongodb SSPL-1' >> /etc/portage/package.license/mongodb && 
            USE='postgres redis mongodb mysql rabbitmq kafka utest testsuite easy' emerge -v --autounmask-write --autounmask-continue dev-cpp/userver && 
            if emerge -pv dev-cpp/userver >/dev/null 2>&1; then 
              echo 'TEST PASSED: dev-cpp/userver was installed'; exit 0; 
            else 
              echo 'TEST FAILED: dev-cpp/userver was not installed'; exit 1; 
            fi"
      
      - name: Cleanup
        if: always()
        run: |
          docker rm -f gentoo-test || true
          docker rmi gentoo-systemd || true
