# This is a basic workflow to help you get started with Actions

name: Gentoo ebuild test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  ebuild-userver-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: src prepare
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/distfiles"
          mkdir -p "${GITHUB_WORKSPACE}/packages"

      - name: ebuild test
        uses: hacking-gentoo/action-ebuild-test@v1
        with:
          package: dev-cpp/userver
          version: "2.13"
